doctype html
html(lang="es-419")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="___")
    title ___
    link(rel="shortcut icon" type="image/x-icon" href="img/int/favicon.png")
    style
      include css/loader.css
      //- include css/index.css
  //- body.load(onload="go()")
  body.load